.binary_main {
  display: flex;

  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 20px;
}

.button_container {
  display: flex;
  width: 100%;

  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.binary_search_array {
  display: flex;

  text-align: center;
  flex-direction: row;
  height: 50px;
  width: auto;

  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 200px;

  border: solid;
  border-radius: 20px;
  border-color: #ffc436;
  transition-duration: 0.4s;
}

.array_element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  font-size: 1.2em;
  color: aliceblue;
  height: 50px;
  width: 50px;
  transition-duration: 0.6s;
}

.pointer_arrow {
  width: 40px;
  height: 80px;
  background-image: url("../assets/Arrow.png");
  background-size: cover;
  background-position: center;
  filter: invert(100%);
}

.pointer_text {
  color: #ffc436;
  display: flex;
  height: 40px;
  width: 100%;

  text-align: center;
  flex-direction: column;
}

.pointer {
  display: inline-flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 100px;

  position: absolute;

  text-align: center;
  transition-duration: 0.4s;
}

.binary_next {
  text-align: center;
  /*background-color: #ffc436;*/

  background-color: rgba(0, 0, 0, 0.2);
  border-color: #ffc436;

  border-style: solid;

  -webkit-text-stroke-width: 0px;

  font-size: 1.2rem;
  color: aliceblue;
  width: 20%;
  height: min(80px, 10vw);

  transition-duration: 0.4s;
}

.selected_element {
  color: #e35b18;
}

.middle_value {
  color: #17c425;
}
